 <!-- Page Header Start -->
 <div class="container-fluid mb-5" style="background-color: #EDF1FF;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Admin Home</h1>
        <div class="d-inline-flex">
            <a href="index.html" style="text-decoration: none;"><p class="m-0" style="color: #D19C97;">Home</p></a>
             <p class="m-0 px-2">-</p>
            <p class="m-0">Admin Home</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<p>seller-home works!</p>
