<!-- Page Header Start -->
<div class="container-fluid mb-5" style="background-color: #EDF1FF;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
        <div class="d-inline-flex">
            <a href="index.html" style="text-decoration: none;">
                <p class="m-0" style="color: #D19C97;">Home</p>
            </a>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Contact Us</p>
        </div>
    </div>
</div>

<!-- Page Header End -->



<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Contact For Any Queries</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Your Name" required="required"
                            data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Your Email" required="required"
                            data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject" required="required"
                            data-validation-required-message="Please enter a subject" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="6" id="message" placeholder="Message" required="required"
                            data-validation-required-message="Please enter your message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn py-2 px-4" type="submit" id="sendMessageButton"
                            style="background-color: #D19C97;">Send
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
            <p>Kosmetika aims to empower individuals by providing them with top-notch
                beauty solutions, fostering confidence and self-expression.</p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Store 1</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt mr-3" style="color: #D19C97;"></i>Pune-411014.</p>
                <p class="mb-2"><i class="fa fa-envelope mr-3" style="color: #D19C97;"></i>info@kosmetika.in</p>
                <!-- <p class="mb-2"><i class="fa fa-phone-alt  mr-3"></i>+012 345 67890</p> -->
            </div>
            <div class="d-flex flex-column">
                <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3180.4904857717643!2d73.91096412053193!3d18.562227026248934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c15a81afc021%3A0x1381bafdd2f10fca!2sFinswell!5e0!3m2!1sen!2sin!4v1686309076381!5m2!1sen!2sin"
                    style="border:1px solid #D19C97;border-radius: 0.3rem;" height="150" width="350" allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allowfullscreen=""
                    aria-hidden="false" tabindex="0" class="map_sec"></iframe>
            </div>
        </div>
    </div>
</div>